$emcolor:#5AD9BC;
$emfcolor:#fff;
$rxbcolor:#ddd;
$rxfcolor:#4FC4D7;

#main{
    padding-top: 10px;
    .container{
        .brand-wrap{
            height: 73px;
            border:2px solid #ccc;
        }
        .tab-box{
            padding-top: 12px;
            .tab-box_l{
                width: 798px;
                height: 358px;
                border:1px solid #ccc;
            }
            .tab-box_r{
                position:relative;
                padding: 10px;
                width: 266px;
                height: 115px;
                border:2px solid #ccc;
                .gengduo{
                    position:absolute;
                    left:80%; top: 10px;
                }
            }
        }
        .floor1,.floor2{
            height: 550px;
            .floor1_t,.floor2_t{
                height: 46px;
                border-bottom:5px solid $emcolor;
                .floor1_tl,.floor2_tl{
                    width: 300px;
                    line-height: 42px;
                    color:$emcolor;
                    font-size:26px;
                    em{
                        float:left;
                        display:block;
                        font-size:36px;
                        color:$emfcolor;
                        line-height: 42px;
                        height: 42px;
                        width: 70px;
                        background:$emcolor;
                        text-align:center;
                        margin-right: 10px;
                    }
                }
                .floor1_tc,.floor2_tc{
                    ul{
                        li{
                            padding-right: 5px;
                            color:#ddd;
                            float:left;
                            line-height: 42px;
                        }
                    }
                }
                .floor1_tr,.floor2_tr{
                    color:$rxfcolor;
                    height: 41px;
                    width: 166px;
                    background:$rxbcolor;
                    text-align:center;
                    line-height: 41px;
                    font-weight:bold;
                }
            }
            .floor1_main,.floor2_main,{
                height: 500px;
                .floor_main_l{
                    height: 500px;
                    width: 178px;
                    background:#F4F4F4;
                    .f1-brand,.f2-brand{
                        padding-left: 5px;
                        li{
                            float:left;
                            width: 83px;
                            height: 56px;
                            background:#fff;
                            margin: 5px 0 0 1px;
                            text-align:center;
                        }
                    }
                    .f1_size,.f2_size{
                        margin: 6px 0 0 5px;
                        li{
                            float:left;
                            background:#ddd;
                            margin: 2px 0 0 2px;
                            text-align:center;
                            font-size:18px;
                            width: 26px;
                            height: 26px;
                        }
                    }
                    .f_color{
                        margin: 6px 0 0 5px;
                        li{
                            float:left;
                            background:#ddd;
                            margin: 2px 0 0 2px;
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
                .floor1_main_c,.floor2_main_c{
                    .goods-small,.goods-small2{
                        width: 166px*3;
                        li{
                            background-color:#fff;
                            border-left:1px solid #F4F4F4;
                            border-bottom:1px solid #F4F4F4;
                            float:left;
                            width: 166px;
                            height: 166px;
                            img{
                                width: 166px;
                                height: 166px;
                            }
                        }
                    }
                    .goods-big,.goods-big2{
                        width: 338px;
                        li{
                            background-color:#fff;
                            border-left:1px solid #F4F4F4;
                            border-bottom:1px solid #F4F4F4;
                            height: 251px;
                            img{
                                width: 338px;
                                height: 251px;
                            }
                        }
                    }
                }
                .floor_main_r{
                    border:1px solid #f4f4f4;
                    height: 500px;
                    width: 200px;
                    .rank{
                        li{
                            border-bottom: 1px solid #f4f4f4;
                            border-right: 1px solid #f4f4f4;
                            height: 32px;
                            padding: 0 5px;
                            line-height: 32px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}