#footer {
  height: 505px;
  background: #F1F1F1;
  border-top: 1px solid #ccc;
}

#footer .footer_t {
  height: 160px;
  border-bottom: 1px solid #ccc;
}

#footer .footer_t .container {
  padding-left: 200px;
}

#footer .footer_t .container .weibo {
  width: 230px;
  padding: 10px 20px 0;
}

#footer .footer_t .container .weibo ul {
  margin-top: 12px;
}

#footer .footer_t .container .weibo ul li {
  width: 50%;
  float: left;
}

#footer .footer_t .container .weibo ul li a {
  background: url(../imgaes/sprite_v1.gif) no-repeat;
  padding-left: 20px;
}

#footer .footer_t .container .weibo ul li .sina {
  background-position: 0 -408px;
}

#footer .footer_t .container .weibo ul li .qweibo {
  background-position: 0 -427px;
}

#footer .footer_t .container .weibo ul li .qq {
  background-position: 0 -448px;
}

#footer .footer_t .container .weibo ul li .renren {
  background-position: 0 -469px;
}

#footer .footer_t .container dl {
  padding: 10px 30px 0;
}

#footer .footer_b .container .promises-box {
  height: 70px;
  width: 900px;
  margin: auto;
  padding: 20px 0;
}

#footer .footer_b .container .promises-box li {
  float: left;
  width: 110px;
  height: 24px;
  background: url(../imgaes/sprite_v1.gif) no-repeat;
  margin-right: 70px;
}

#footer .footer_b .container .promises-box .promises1 {
  background-position: 0 -280px;
}

#footer .footer_b .container .promises-box .promises2 {
  background-position: -112px -280px;
}

#footer .footer_b .container .promises-box .promises3 {
  background-position: -224px -280px;
}

#footer .footer_b .container .promises-box .promises4 {
  background-position: 0 -280px;
}

#footer .footer_b .container .promises-box .promises5 {
  background-position: 0 -305px;
}

#footer .footer_b .container .brief {
  height: 20px;
  width: 602px;
  text-index: center;
  margin: auto;
}

#footer .footer_b .container .brief li {
  float: left;
}

#footer .footer_b .container .links {
  padding: 10px 100px 0;
  line-height: 20px;
  margin: auto;
  width: 1000px;
}

#footer .footer_b .container .links dt {
  float: left;
  width: 60px;
  font-weight: 60px;
}

#footer .footer_b .container .copyright {
  padding-top: 5px;
  line-height: 20px;
  margin: auto;
  text-align: center;
  width: 476px;
}

#footer .footer_b .container .cert li {
  margin-left: 10px;
  float: left;
  height: 42px;
  width: 139px;
  background: url(../imgaes/sprite_v1.gif) no-repeat;
}

#footer .footer_b .container .cert .cert1 {
  background-position: 0 -490px;
}

#footer .footer_b .container .cert .cert2 {
  background-position: -143px -490px;
}

#footer .footer_b .container .cert .cert3 {
  background-position: 0 -534px;
}

#footer .footer_b .container .cert .cert4 {
  background-position: -143px -534px;
}

#footer .footer_b .container .cert .cert5 {
  background-position: 0 -577px;
  width: 118px;
}

#footer .footer_b .container .cert .cert6 {
  background-position: -121px -577px;
  width: 102px;
}

#footer .footer_b .container .cert .cert7 {
  background-position: -224px -577px;
}
