#header {
  height: 100%;
}

#header .header_t {
  background: #F4F4F4;
  height: 27px;
  border-bottom: 1px solid #ccc;
}

#header .header_t .container .header_tr ul li {
  float: left;
  border-right: 1px solid #ddd;
  padding: 0 8px;
}

#header .header_c {
  height: 96px;
}

#header .header_c h1 {
  width: 214px;
  line-height: 96px;
}

#header .header_c .theme {
  width: 192px;
  line-height: 96px;
}

#header .header_c .searchT {
  padding-top: 25px;
  width: 405px;
}

#header .header_c .searchT .searchbox #_search {
  height: 32px;
  width: 342px;
  border: 4px solid #CD2A2D;
  position: relative;
}

#header .header_c .searchT .searchbox .scbutton {
  position: absolute;
  border: 4px solid #CD2A2D;
  background: #DA1D15;
  height: 32px;
  width: 59px;
  color: #fff;
}

#header .header_c .searchT .keyword {
  line-height: 35px;
  padding-left: 15px;
}

#header .header_c .car {
  line-height: 96px;
}

#header .nav {
  height: 36px;
  background: #CD2A2D;
  border-top: 6px solid #F53838;
  border-bottom: 3px solid #B20003;
}

#header .nav .container .category {
  width: 220px;
  position: relative;
  background: #be2124;
  height: 28px;
  line-height: 28px;
  color: #fff;
  padding: 0 10px;
  font-size: 16px;
}

#header .nav .container .category .category-sec {
  display: none;
  position: absolute;
  background: #fff;
  left: 0px;
  top: 30px;
  border: 4px solid #BE2124;
  border-top: none;
  width: 220px;
}

#header .nav .container .category .category-sec .last-size span {
  font-size: 12px;
  color: #ccc;
}

#header .nav .container .category .category-sec dl {
  border-bottom: 1px solid #ddd;
  padding: 6px 12px 1px;
}

#header .nav .container .category .category-sec dl dt {
  font-size: 15px;
  font-weight: bold;
  color: #BE2124;
}

#header .nav .container .category .category-sec dl dd {
  word-spacing: .8em;
  color: #666;
  line-height: 19px;
  padding: 3px 0 5px;
}

#header .nav .container .category:hover .category-sec {
  z-index: 1;
  display: block;
}

#header .nav .container .nav_r ul li {
  float: left;
  line-height: 28px;
}

#header .nav .container .nav_r ul li a {
  display: block;
  color: #fff;
  font-size: 14px;
  padding: 0 24px;
}

#header .nav .container .nav_r ul li a:hover {
  background: #BE2124;
}
